/* Style the video: 100% width and height to cover the entire window */
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.loginArea {
    position: fixed;
    margin-top: 20%;
    margin-left: 35%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
}