<div style="background-color:skyblue;" ng-controller="homeController">
    <h1>Welcome to future media development challenge {{userInfo.firstname}}</h1>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#signout">Sign out</a></li>
    </ul>  
</div>
<div>

</div>
<body ng-controller="homeController" class="ng-view">
        
     <label>Firstname:</label> {{userInfo.firstname}} <br>
     <label>Surname:</label> {{userInfo.surname}} <br>
     <label>Favorite color:</label> {{userInfo.color}}
</body >
