<div ng-controller="mainController">           
        <video loop muted id="bgVideo" autoplay>
                <source src="free-loops_Discovering_The_Ocean.mp4" type="video/mp4">
           Your browser does not support the video tag.
        </video>

        <div alig class="loginArea">
            <div class="form-group">
                <h2 style="text-align: center">Login </h2>
                <p style="color: red;">{{error}}</p>
                <label for="username">Username:</label>
                <input type="text" class="form-control" ng-model="username">
                </div>
                <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" ng-model="password">
                </div>
                <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            
            <div class="btn-toolbar">
                    <a class="btn btn-info" role="button" ng-click="login()">Sign in</a>
                    <div class="pull-right"><a href="signup.html" class="btn btn-info" role="button">Sign up </a></div>
            </div>
           
        </div> 
  <div>