
<div style="background-color:skyblue;" ng-controller="mainController">
        <h1>My profile</h1>
        <p> {{userInfo.firstname}} </p>  <br>
        <label for="surname">surname:</label> <br>
        <label for="color">color:</label>
</div>
